<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    누구인가? 지금 누가 기침 소리를 내었어? 누가 기침 소리를 내었는가 말이야!

    <form action="http://192.168.0.4:5011/cal" method="get">
        <input type="text" name="num1">
        <input type="text" name="num2">

        <input type="submit" value="계산">
    </form>

    <form action="http://192.168.0.4:5011/cal" method="post">
        <input type="text" name="num1">
        <input type="text" name="num2">

        <input type="submit" value="post계산">
    </form>
</body>
</html>